@import "cs-variables";
@import "cs-mixins";

html {
  box-sizing: border-box;
}

body {
  width: 97%;
  margin: 0 auto;
  background-color: $background-col;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Column system */
[class^="col"] {
  margin: 0 3% 0 0;
}

.col1,
.col1s {
  flex: 0 0 15%;
}
.col2,
.col2s {
  flex: 0 0 30%;
}
.col3,
.col3s {
  flex: 0 0 45%;
}
.col4,
.col4s {
  flex: 0 0 60%;
}
.col5,
.col5s {
  flex: 0 0 75%;
}
.col6,
.col6s {
  flex: 0 0 90%;
}

@include breakpoint(tablet) {
  .col1m {
    flex: 0 0 15%;
  }
  .col2m {
    flex: 0 0 30%;
  }
  .col3m {
    flex: 0 0 45%;
  }
  .col4m {
    flex: 0 0 60%;
  }
  .col5m {
    flex: 0 0 75%;
  }
  .col6m {
    flex: 0 0 90%;
  }
}

@include breakpoint(desktop) {
  .col1l {
    flex: 0 0 15%;
  }
  .col2l {
    flex: 0 0 30%;
  }
  .col3l {
    flex: 0 0 45%;
  }
  .col4l {
    flex: 0 0 60%;
  }
  .col5l {
    flex: 0 0 75%;
  }
  .col6l {
    flex: 0 0 90%;
  }
}

/* Element visibility */
.display-m,
.display-l {
  display: none;
}

.display-s {
  display: initial;
}

@include breakpoint(tablet) {
  .display-s,
  .display-l {
    display: none;
  }

  .display-m {
    display: initial;
  }
}

@include breakpoint(desktop) {
  .display-s,
  .display-m {
    display: none;
  }

  .display-l {
    display: initial;
  }
}

/* TODO: Display when hover over? */

/* Responsive Typography */
:root {
  --base-font-size: 1em;
  --base-line-height: 1.125;

  @include breakpoint(tablet) {
      --base-font-size: 1.1em;
      --base-line-height: 1;
  }
  @include breakpoint(desktop) {
      --base-font-size: 1.2em;
      --base-line-height: 1;
  }
}

h1 {
  font-size: calc(var(--base-font-size) * 3);
  line-height: calc(var(--base-line-height) * 1.1);
}

h2 {
  font-size: calc(var(--base-font-size) * 2.5);
  line-height: calc(var(--base-line-height) * 1.1);
}

h3 {
  font-size: calc(var(--base-font-size) * 2.2);
  line-height: calc(var(--base-line-height) * 1.1);
}

h4 {
  font-size: calc(var(--base-font-size) * 1.9);
  line-height: var(--base-line-height);
}

h5 {
  font-size: calc(var(--base-font-size) * 1.5);
  line-height: var(--base-line-height);
}

h6 {
  font-size: calc(var(--base-font-size) * 1.2);
  line-height: var(--base-line-height);
}

p {
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
}

/* Button styling */
button,
a.button {
  background-color: $button-color;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  color: $button-text-color;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  text-indent: 0;
  text-transform: none;
  word-spacing: normal;
  letter-spacing: normal;
  text-rendering: auto;
  margin: 0.1rem 0.5rem 0.5rem 0.1rem;
}

/* Styling for primary content */
.content-primary,
.content-color1,
.content-color2 {
  box-shadow: 0.1rem 0.1rem 5rem;
}

.content-primary {
  background-color: $content-primary-bkg-color;
}

.content-color1 {
  background-color: $content-color1-bkg-color;
}

.content-color2 {
  background-color: $content-color2-bkg-color;
}

/* Navbar: Use the list element (one ul with multiple li tags inside.) */
/* In small breakpoints this will be displayed as one vertical list. */
nav ul {
  display: flex;
  flex-direction: column;
  background-color: $nav-background-color;

  li {
    list-style-type: none;
    background-color: $nav-element-background-color;
    color: $nav-text-color;
    font-size: calc(var(--base-font-size) * 1);
    padding: 0 1rem;
    margin: 1px 3% 1px 0;

    a {
      text-decoration: none;
      color: $nav-text-color;
    }
  }
}
/* In mediam breakpoints this will display 2 per row. */
@include breakpoint(tablet) {
  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    li {
      flex: 1 1 40%;
      margin: 1px 3% 1px 0;
      padding: 0 1rem;
      font-size: calc(var(--base-font-size) * 1.1);
    }
  }
}
/* In large breakpoints this will be displayed as one horizontal list. */
@include breakpoint(desktop) {
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

    li {
      flex: 1 1 90%;
      margin: 1px 3% 1px 0;
      padding: 0 1rem;
      font-size: calc(var(--base-font-size) * 1.2);
    }
  }
}
