/* Assignment 1, Part 1
by Chad Serrant */

* {
  font-family: Helvetica, sans-serif;
}

a[href^="http"]{
  padding-right: 20px;
  background: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png) no-repeat right;
}

/* Just override it with a more specific selector */
nav a[href^="http"]{
  padding-right: 0px;
  background: none;
}

a[href$=".pdf"]:after{
  padding-left: 5px;
  content: "PDF";
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  color: orange;
  font-family: Georgia, "Times New Roman", serif;
}

main strong+em {
  font-weight: bold;
  color: green;
}

th,td {
  padding: 0.3em 0.5em 0.1em 0.5em;
}

table {
  border-top: 5px solid pink;
  border-bottom: 5px solid pink;
}

th:only-of-type {
  text-align: left;
  text-transform: uppercase;
  color: orange;
}

tr:nth-of-type(even) {
  background-color: #DEDEDE
}

blockquote:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) > cite{
  background-color: purple;
  font-style: normal;
  color: white;
}

footer{
  width: 100%;
  padding: 5px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: orange;
  text-align: center;
}
