@import "chad-variables";
@import "chad-mixins";

:root {
  --base-font-size: 1em;
  --base-line-height: 1.125;
  --h2-font-size: 1.25em;
  --h1-line-height: 1.125;

  @include breakpoint(tablet) {
      --base-font-size: 1em;
      --base-line-height: 1;
      --h2-font-size: 1.5em;
      --h1-line-height: 1.25;
  }
  @include breakpoint(desktop) {
      --base-font-size: 1.5em;
      --base-line-height: 1;
      --h2-font-size: 1.7em;
      --h1-line-height: 1.25;
  }
}

header.uk-card-default {
  background: url("../images/Samosachutney.jpg") no-repeat;
  background-size: cover;
}

.main-item,
.menu-item {
  border: 0.1em solid $menu-border-col;
  border-radius: 1em;
}

h1 {
  color: $font-heading-col;
  font-size: calc(var(--base-font-size) * 3);
  line-height: var(--base-line-height);
  @include breakpoint(tablet) {
    line-height: calc(var(--base-line-height) * 1.2);
  }
  @include breakpoint(desktop) {
    line-height: calc(var(--base-line-height) * 1.2);
  }
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--base-line-height);
  margin-bottom: 0em;
}

.uk-h3 {
  color: darken($primary-color, 15%);
}

.uk-h4 {
  color: darken($primary-color, 25%);
}

.uk-checkbox {
  border-color: black;
}

/* Mobile dimensions (default) */
header {
  h1 {
    width: min-content;
    margin: 0 auto 5% auto;
    background-color: hsl(13, 2%, 90%);
    padding: 0.1em 1em;
    border: 0.1em solid hsl(13, 2%, 70%);
    border-radius: 1em;
  }
}

/* Tablet dimensions */
@include breakpoint(tablet) {
  header {
    h1 {
      width: min-content;
      margin: 0 auto 5% auto;
    }
  }
}

/* Slideshow styling */
.slideshow-container {
  background-color: transparent;
}

.slide {
  display: none;
  width:100%;
  padding-top: 1rem;
}

.slide img {
  height: 10rem;
}

.slideshow-prev, .slideshow-next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  font-weight: bold;
  transition: 0.6s ease;
  font-size: 2em;
  color: $slideshow-button-col;
}

/* Position the "next button" to the right */
.slideshow-prev {
  left: 10em;
  border-radius: 3px 0 0 3px;
}

.slideshow-next {
  right: 10em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev:hover, .slideshow-next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slideshow-caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
