// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;
$base-body-background: #40bf75;
$card-default-background: #b6c1c9;

// 2. Import default variables and available mixins.
@import "../scss/variables-theme.scss";
@import "../scss/mixins-theme.scss";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto');

// Font Variables
$pt-serif: 'PT Serif', serif;
$roboto: 'Roboto', sans-serif;

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../scss/uikit-theme.scss";

// Personal styling
.main-item,
.menu-item {
  border: 0.1em solid hsl(13, 2%, 70%);
  border-radius: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
  /*color: $font-heading-col;*/
}
