@import url("https://fonts.googleapis.com/css?family=PT+Serif|Roboto");
@import url("https://fonts.googleapis.com/css?family=PT+Serif|Roboto");
/* line 4, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
:root {
  --base-font-size: 1em;
  --base-line-height: 1.125;
  --h2-font-size: 1.25em;
  --h1-line-height: 1.125;
}

@media (min-width: 750px) {
  /* line 4, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  :root {
    --base-font-size: 1em;
    --base-line-height: 1;
    --h2-font-size: 1.5em;
    --h1-line-height: 1.25;
  }
}

@media (min-width: 1000px) {
  /* line 4, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  :root {
    --base-font-size: 1.5em;
    --base-line-height: 1;
    --h2-font-size: 1.7em;
    --h1-line-height: 1.25;
  }
}

/* line 24, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
html {
  box-sizing: border-box;
}

/* line 27, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 33, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #ff0015;
}

/* line 43, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
h1 {
  font-size: calc(var(--base-font-size) * 2);
  line-height: var(--base-line-height);
}

@media (min-width: 750px) {
  /* line 43, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  h1 {
    line-height: calc(var(--base-line-height) * 1.2);
  }
}

@media (min-width: 1000px) {
  /* line 43, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  h1 {
    line-height: calc(var(--base-line-height) * 1.2);
  }
}

/* line 54, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
h2 {
  font-size: var(--h2-font-size);
  line-height: var(--base-line-height);
  margin-bottom: 0em;
}

/* line 60, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
h3 {
  color: #b3000f;
}

/* line 64, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
h4 {
  color: #80000b;
}

/* line 68, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
p {
  font-family: "PT Serif", serif;
}

/* line 72, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #40bf75;
}

/* line 79, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
.wrapper {
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* line 85, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
div img {
  max-width: 100%;
  max-height: 100%;
}

/* line 90, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
.yell {
  font-size: 1.1em;
  margin: 0.5em auto;
  color: #002d4d;
}

@media (min-width: 750px) {
  /* line 90, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  .yell {
    font-size: 1.5em;
  }
}

@media (min-width: 1000px) {
  /* line 90, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  .yell {
    font-size: 2em;
  }
}

/* line 102, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
header {
  background: url("../images/Samosachutney.jpg") no-repeat;
  background-size: cover;
}

/* line 106, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
nav {
  max-height: 2em;
}

/* line 108, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
nav div {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  font-size: var(--base-font-size);
}

/* line 115, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
nav div a {
  color: #005999;
  font-weight: bold;
  margin-left: 1em;
}

/* line 119, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
nav div a:hover {
  color: blue;
}

/* line 126, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
aside,
section {
  margin-bottom: 1em;
}

/* Mobile dimensions (default) */
/* line 132, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
header {
  display: flex;
  flex-direction: row;
}

/* line 134, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
header h1 {
  flex: 0 0 45%;
  margin-right: 5%;
  width: min-content;
  margin: 0 auto 5% auto;
  background-color: #e6e5e5;
  padding: 0.1em 1em;
  border: 0.1em solid #b4b2b1;
  border-radius: 1em;
}

/* line 143, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
header nav {
  flex: 0 0 45%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.3em;
  background-color: rgba(230, 229, 229, 0.5);
}

/* Tablet dimensions */
@media (min-width: 750px) {
  /* line 153, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  header {
    display: flex;
    flex-direction: column;
    background: url("../images/Samosachutney800.jpg") no-repeat;
    background-size: cover;
  }
  /* line 160, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  header h1 {
    width: min-content;
    margin: 0 auto 5% auto;
  }
  /* line 165, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  header nav {
    display: flex;
    flex-direction: row;
  }
  /* line 170, /Users/chadserrant/Documents/chadius.github.io/DGMDE-27/assignment2/scss/responsive-flexbox.scss */
  nav div {
    flex: 0 0 15%;
    margin-right: 5%;
  }
}

/*# sourceMappingURL=../css/responsive-flexbox.map */