section h1,
section h2 {
  color: red;
}

p {
  /*
  padding-left: 4em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 3em;
  TRBL - stay out of TRouBLe
  Start on top and go counter clockwise
  */
  padding: 1em 2em 3em 4em;

  margin: 1em 2em;
  /* Top&Bottom Left&Right
  Easy way to horizontally center a block (and easy to remember)
  */
  margin: 0 auto;
}

aside ul ul {
  color: green;
}

p > em {
  text-transform: uppercase;
  color: red;
}

/* Differences between body and * selector: * forces inheritance of all
properties, while body only uses inheritance for some properties.
To test this, add a red border in body, and try one for *.
border: 1px solid red;
*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

p * * {
  text-transform: lowercase;
  font-size: 2em;
}

p a + em {
  font-family: Georgia;
  color: purple;
  text-transform: uppercase;
}

p img ~ strong {
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  background-color: orange;
}

nav [rel] {
  color: pink;
  background-color: #333;
}

[href="#"] {
  background-color: pink;
  color: #333;
  text-decoration: none;
}

[href$=".pdf"] {
  padding-right: 20px;
  background: url(pdf.gif) no-repeat right;
}

/* Lord Vader, Former Handle Anakin */
/* Link Visited, Focus Hover Active */
aside ul li:first-child{
  color: red;
  font-weight: bold;
}

img:not([alt]) {
  border: 5px dotted orange;
}

/* Only 4 pseudo elements!
CSS3 always uses 2 colons, but CSS2 only uses 1. Both are legal.

::first-letter - 1st letter
::first-line - 1st line
::before - before element
::after - after element
*/
p::first-line {
  font-family: Georgia, serif;
  font-size: 2.5em;
  color: limegreen;
  font-style: italic;
}

ul::before {
  content: "The following is a list.";
}

p:last-child::first-letter {
  color: purple;
  font-size: 5em;
  float: left;
}
