html {
  box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
  background: rgba(226,226,226,1);
  background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
  background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 );
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  font-size: 2rem;
}

nav {
  float: left;
  margin-right: 1%;
  width: 25%;
  background-color: rgba(183, 201, 232, 0.4);
  border-radius: 5px;
}

p.yell {
  font-weight: bold;
  font-size: 2rem;
}

p.columns {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  font-family: 'Crimson Text', serif;
}

footer.copyright {
  border: 0.2rem solid black;
  padding: 1rem;
  width: 100%;
  clear: both;
  text-align: center;
}

article.main {
  width: 60%;
  float: left;
  border: 0.2rem solid green;
  margin-right: 1%;
  font-family: 'Crimson Text', serif;
}

article.highlight {
  width: 12%;
  float: left;
  border: 0.2rem solid yellow;
}

aside.subscribe {
  width: 10%;
  border: 0.2rem solid blue;
  position: fixed;
  left: 0.5rem;
  bottom: 2rem;
  transition: all 1s ease-out 0.3s;
}

aside.subscribe:hover{
  transform: translateY(2rem);
}

article.two-column {
  width: 70%;
  float: left;
  border: 0.2rem solid green;
}

img.centered {
  display: block;
  margin: auto;
}

img.centered {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px;
}

fieldset {
  margin-bottom: 2em;
  margin-right: 1em;
  float: left;
  border: 2px dashed #080;
  background-color: #cdc;
}
label {
  display: block;
}
input:not([type="radio"]):not([type="checkbox"]) {
  display: block;
  margin-bottom: 1em;
  width: 20em;
}
.table-highlight {
  background-color: #F1C0C3;
  padding: 0.5em 1em 1em 1em;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 15px -5px rgba(0,0,0,0.75);
  width: 80%;
}
.table-highlight table {
  border: 1px solid gray;
  border-collapse: collapse;
}
.table-highlight th {
  border: 1px solid gray;
  padding: 0em 0.2em;
  background-color: #D1A0A3;
}
.table-highlight td {
  border: 1px solid gray;
  padding: 0em 1em;
}
a:focus,a:hover{
    text-decoration:underline;
    background-color:#ddd;
}
h1:hover,h2:hover,h3:hover,h1:focus,h2:focus,h3:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#about-me {
    animation-name: fadetogray;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes fadetogray {
  0% {
    background-color: lightcoral;
    transform: skewX(0deg);
  }
  33% {
    background-color: lightblue;
    transform: skewX(5deg);
  }
  66% {
    background-color: lightgreen;
    transform: skewX(0deg);
  }
  100% {
    background-color: lightgray;
    transform: skewX(-5deg);
  }
}

.skewonhover {
  transition: all 1s ease-in-out 0.3s;
}
.skewonhover:hover {
  transform: skewX(30deg);
}

.spintowin:hover {
  animation-name: spinning;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes spinning {
  0% { transform: rotate(0deg) scale(1,1);}
  25% { transform: rotate(90deg) scale(1.1,1.1);}
  50% { transform: rotate(180deg) scale(1.2,1.2) translateX(2em);}
  75% { transform: rotate(270deg) scale(1.3,1.3) translateX(-2em);}
  100% { transform: rotate(360deg) scale(1.2,1.2);}
}

@keyframes rotatewheels {
  0% {
    transform-origin: 50% 50%;
    transform: translateX(.1em) rotate(0deg);
  }
  50% {
    transform-origin: 50% 50%;
    transform: translateX(-.1em) rotate(180deg);
  }
  100% {
    transform-origin: 50% 50%;
    transform: translateX(.1em) rotate(360deg);
  }
}

.wheel {
  animation-name: rotatewheels;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes chassis-bump {
  0% {
    transform: translateX(.2em);
  }
  25% {
    transform: translateX(0em) translateY(-.1em);
  }
  50% {
    transform: translateX(-.2em) translateY(0em);
  }
  75% {
    transform: translateX(0em) translateY(.1em);
  }
  100% {
    transform: translateX(.2em);
  }
}

.chassis {
  animation-name: chassis-bump;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% { filter: blur(10px); }
  100% { filter: blur(0px); }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes invert-in {
  0% { filter: invert(1); }
  100% { filter: invert(0); }
}

.invert-in {
  animation-name: invert-in;
  animation-duration: 2s;
  animation-timing-function: linear;
}

img.sepia {
  filter: sepia(1);
}

img.contrast {
  filter: contrast(1.8);
}

img.saturated {
  filter: saturate(2);
}

img.redtint {
  filter: sepia(1) hue-rotate(300deg);
}
