/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}
/* hack to make images flexible in our prototype */
div img {
	width: 100%;
	max-width: 250px;
}
/* grid system */
.wrapper {
  width: 97%
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
}
[class*="col-"] {
	flex: 0 0 92%;
	margin-left: 4%;
}
article {
	background-color: #ffc;
}
.r2c1, .r2c2, .r5c1 {
	background-color: #ccf;
}
.r3c1 {
	background-color: #fcf;
}
.r4c1 {
	background-color: #cff;
}
/*
.r1c1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.r1c2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.r1c3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.r1c4 {
  grid-column: 4/5;
  grid-row: 1/2;
}
*/
