body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffc;
}
div {
	width: 12.5rem;
	height: 9.4rem;
	background-color: darkslateblue;
	color: aliceblue;
	font-size: 1.875em;
	text-align: center;
	padding-top: 1em;
	border: 3px solid chartreuse;
	border-radius: 10px;
	margin-bottom: 1.25em;
}
#box2 {
	/*transition-property: transform, background-color;*/
	/*
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	transition-delay: 1s;
	*/
	/*transition: property duration timing-function delay;*/
	transition: transform 2s ease-in-out 1s,
							background-color 2s ease-in-out,
							border-color 2s ease-in-out,
							color 2s ease-in-out;
}
#box2:hover {
	transform: rotate(360deg) translateX(6em);
	background-color: chartreuse;
	border-color: darkslateblue;
	color: darkslateblue;
}
