body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffc;
}
div {
	width: 12.5rem;
	height: 9.4rem;
	background-color: darkslateblue;
	color: aliceblue;
	font-size: 1.875em;
	text-align: center;
	padding-top: 1em;
	border: 3px solid chartreuse;
	border-radius: 10px;
	margin-bottom: 1.25em;
}
#box2 {
	/*transition-property: transform, background-color;*/
	/*
	transition-property: transform;
	transition-duration: 2s;
	transition-timing-function: ease-in-out;
	transition-delay: 1s;
	*/
	/*transition: property duration timing-function delay;*/
	transition: transform 2s ease-in-out 1s,
							background-color 2s ease-in-out,
							border-color 2s ease-in-out,
							color 2s ease-in-out;
}
#box2:hover {
	transform: rotate(360deg) translateX(6em);
	background-color: chartreuse;
	border-color: darkslateblue;
	color: darkslateblue;
}

/*
@keyframes box1 {
	from {
		transform: translateX(0px);
	}
	to {
		transform: translateX(400px);
		background-color: chartreuse;
	}
}

#box1 {
	animation-name: box1;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 1s;
}
*/


@keyframes box1 {
	0% { transform: translateX(100px); }
	20% { transform: translateX(-10px); }
	100% { transform: translateX(450px); }
}
#box1 {
	animation-name: box1;
	animation-duration: 5s;
	animation-delay: 1s;
	animation-timing-function: cubic-bezier(.02, .73, .92, .34);
	animation-fill-mode: both;
	animation-direction: alternate;
	animation-iteration-count: 2;
	/* animation: animation 2000ms linear infinite both; */
}

/* pre-defined animation timing functions
ease: default -- slow, faster, slow
linear -- Constant Speed
ease-in -- slow to faster
ease-out -- fast to slow
ease-in-out -- slow, faster, slow */

/* cubic-bezier.com for your cubic-bezier curve generator */
