/* 
  declare border-box sizing
  http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
*/
/* line 23, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
html {
  box-sizing: border-box;
}

/* line 27, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 31, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
body {
  font-family: "Cabin", Arial, Geneva, sans-serif;
  background-image: url(../img/clouds.png);
  margin: 0;
  padding: 0;
}

/* line 38, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Niconne', cursive;
  font-weight: normal;
  color: #c80060;
}

/* line 44, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
a {
  color: #00c4c7;
}

/* line 47, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
a:hover {
  color: #c80060;
  text-decoration: none;
}

/* line 52, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
.wrapper {
  margin: 0 auto;
}

/* line 56, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
header a {
  text-align: center;
  display: block;
}

/* line 61, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
nav {
  background: url(../img/scallop.png) repeat-x;
  /* splits nav into 2 columns
  http://stackoverflow.com/questions/13104818/simple-2-column-navigation-with-css-and-a-single-list */
}

/* line 66, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
nav ul {
  list-style-type: none;
  background-color: #e3be9f;
  padding: 0.75em;
  margin: 0.75em 0 0 0;
  border-bottom: 3px solid #cc8850;
  overflow: auto;
}

/* line 74, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
nav li:nth-child(even) {
  width: 50%;
  float: right;
  padding: 0.5em;
}

/* line 79, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
nav li:nth-child(odd) {
  width: 50%;
  float: left;
  padding: 0.5em;
}

/* line 84, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
nav a {
  color: #c80060;
  text-decoration: none;
  display: block;
  padding-left: 3%;
}

/* line 90, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
nav a:hover {
  color: #00c4c7;
}

/* line 94, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
div.row {
  background-color: #fff6e0;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  padding: 1em;
}

/* line 101, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
[class*='col'] {
  margin-left: 0;
}

/* line 105, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
.col-1,
.col-3 {
  width: 96.66666%;
}

/* line 110, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
article img {
  border-radius: 0.625rem;
  display: block;
  margin-bottom: 1em;
  width: 100%;
  max-width: 20em;
}

/* line 118, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
[class*='sidebar'] {
  border: 1px solid #00c4c7;
  border-radius: 0.625rem;
  margin-bottom: 1em;
  margin-top: 2.5em;
}

/* line 124, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
[class*='sidebar'] h3 {
  margin: 0;
  color: white;
  background-color: #00c4c7;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding-left: 0.5em;
}

/* line 132, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
[class*='sidebar'] img {
  border-radius: 0px 0px 0.625rem 0.625rem;
  width: 100%;
  max-width: 250px;
  display: block;
  /* without this, there is a gap between the image and border -- space for descenders in text, for inline elements */
}

/* line 140, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
.sidebar-secondary {
  border-color: #c80060;
}

/* line 143, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
.sidebar-secondary h3 {
  background-color: #c80060;
}

/* line 147, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
blockquote {
  padding: 0;
  margin: 0;
  padding: 0 1em;
}

/* line 153, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
blockquote cite {
  text-transform: uppercase;
  font-style: normal;
  padding: 0 1em 1em 1em;
  display: block;
}

/* line 160, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
footer {
  background-color: #00CDD1;
  color: white;
  clear: both;
  padding: 0 0.5em 3em 0.5em;
  border-top: 1px solid #00CDD1;
}

/* line 167, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
footer p {
  text-align: center;
}

/* line 170, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
footer img {
  width: 52px;
}

/* line 173, /Users/chad/Documents/code/chadius.github.io/DGMDE-27/week5/05-Mixins extend/start/sass/mix-extend.scss */
footer a {
  color: white;
  text-decoration: none;
}

/*# sourceMappingURL=../css/mix-extend.map */