@import "colors";

$bkg-col: lighten(desaturate($second-color, 80%), 20%);
$box-col: lighten(desaturate($second-color, 95%), 25%);
$box-border-col: darken($box-col, 25%);
$font-heading-col: desaturate-neutral($first-color);
$menu-bkg-col: lighten(desaturate($second-color, 95%), 25%);
$menu-border-col: darken($menu-bkg-col, 25%);
$yell-col: darken($second-color, 50%);

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto');

// Font Variables
$pt-serif: 'PT Serif', serif;
$roboto: 'Roboto', sans-serif;

$mq-desktop: 1000px;
$mq-tablet: 750px;
