html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 97%;
	margin: 0 auto;
  display: flex;
  flex-direction: column;
}

div img {
	max-width: 100%;
}

.yell {
  font-size: 2em;
  margin: 0.5em 0;
}
header {
  background: url("../Samosachutney.jpg") no-repeat;
  background-size: cover;
}
nav {
  max-height: 2em;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}
nav ul a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding: 1em;
	float: left;
}
nav ul a:hover {
	color: blue;
}

section {
  background-color: lightgreen;
  margin-bottom: 1em;
}

aside {
  background-color: lightgray;
}

/* Mobile dimensions (default) */
header {
  display: flex;
  flex-direction: row;
}

header h1 {
  flex: 0 0 45%;
  margin-right: 5%;
  background-color: lightblue;
}

header nav {
  flex: 0 0 45%;
  display: flex;
  flex-direction: row;
  background-color: lightblue;
}

nav div {
  flex: 0 0 45%;
  margin-right: 5%;
}

/* Tablet dimensions */
@media (min-width: 750px) {
  header {
    display: flex;
    flex-direction: column;
    background: url("../Samosachutney800.jpg") no-repeat;
    background-size: cover;
  }

  header h1 {
    margin-bottom: 5%;
    background-color: lightblue;
  }

  header nav {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
  }

  nav div {
    flex: 0 0 15%;
    margin-right: 5%;
  }
}
