html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 97%;
	margin: 0 auto;
  display: flex;
  flex-direction: column;
}

div img {
	width: 100%;
	max-width: 250px;
}

.yell {
  font-size: 2em;
  margin: 0.5em 0;
}
header {
  background: url(http://lorempixel.com/1000/200/food/) no-repeat;
  height: 200px;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}
nav ul a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	padding: 1em;
	float: left;
}
nav ul a:hover {
	color: blue;
}

section {
  background-color: lightgreen;
  margin-bottom: 1em;
}

aside {
  background-color: lightgray;
}

/* Mobile dimensions (default) */
header {
  display: flex;
  flex-direction: row;
}

header h1 {
  flex: 0 0 45%;
  margin-right: 5%;
  background-color: lightblue;
}

header nav {
  flex: 0 0 45%;
  display: flex;
  flex-direction: row;
  background-color: lightblue;
}

nav div {
  flex: 0 0 45%;
  margin-right: 5%;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
}

.map {
  background-color: orange;
}

.hours {
  background-color: orange;
}

.hours {
  display: flex;
  flex-direction: column;
}

.us-catering {
  display: flex;
  flex-direction: column;
}

.about-us {
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.catering {
  background-color: orange;
  display: flex;
  flex-direction: column;
}

/* Desktop dimensions */
@media (min-width: 1000px) {
  header {
    display: flex;
    flex-direction: column;
  }

  header h1 {
    margin-bottom: 5%;
    background-color: lightblue;
  }

  header nav {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
  }

  nav div {
    flex: 0 0 15%;
    margin-right: 5%;
  }

  .map-hours {
    display: flex;
    flex-direction: row;
  }

  .map-hours .map {
    flex: 0 0 60%;
    margin-right: 5%;
    background-color: orange;
    display: flex;
    flex-direction: row;
  }

  .map-hours .map div {
    flex: 0 0 60%;
  }

  .map-hours .hours {
    flex: 0 0 30%;
    margin-right: 5%;
    background-color: orange;
  }

  .us-catering {
    display: flex;
    flex-direction: row;
  }

  .about-us {
    flex: 0 0 35%;
    margin-right: 5%;
    background-color: orange;
    display: flex;
    flex-direction: column;
  }

  .catering {
    flex: 0 0 55%;
    margin-right: 5%;
    background-color: orange;
    display: flex;
    flex-direction: column;
  }

}
